.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.rating-container{
  border-radius: 10px;
  background-color: beige;
}

.rating-bar{
  padding: 20px;
  color: aqua;
}

.text-container{
  border-radius: 5px;
  background-color: aliceblue;
  margin-top: 10px;
}

.text-content{
  padding: 10px;
  color: blue;
}

.catalog-container{
  background-color: azure;
  margin-top: 10px;
  /* color: #fff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num-display {
  /* position: absolute; */
  top: -10px;
  left: -10px;
}

.close,
.edit {
    /* position: absolute; */
    top: 10px;
    right: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.edit {
    right: 40px;
}